.vscode/
merchantApp-frontend/node_modules/**/*
merchantApp-frontend/.expo/*
merchantApp-frontend/npm-debug.*
merchantApp-frontend/*.jks
merchantApp-frontend/*.p8
merchantApp-frontend/*.key
merchantApp-frontend/*.mobileprovision
merchantApp-frontend/*.orig.*
merchantApp-frontend/*.p12
merchantApp-frontend/web-build/
merchantApp-frontend/web-report/
merchantApp-backend/node_modules
merchantApp-backend/config
customer-frontend/node_modules/**/*
customer-frontend/.expo/*
customer-frontend/npm-debug.*
customer-frontend/*.jks
customer-frontend/*.p8
customer-frontend/*.key
customer-frontend/*.mobileprovision
customer-frontend/*.orig.*
customer-frontend/*.p12
customer-frontend/web-build/
customer-frontend/web-report/
CustomerApp-frontend/node_modules/**/*
CustomerApp-frontend/.expo/*
CustomerApp-frontend/npm-debug.*
CustomerApp-frontend/*.jks
CustomerApp-frontend/*.p8
CustomerApp-frontend/*.p12
CustomerApp-frontend/*.key
CustomerApp-frontend/*.mobileprovision
CustomerApp-frontend/*.orig.*
CustomerApp-frontend/web-build/
CustomerApp-frontend/web-report/
CustomerApp-backend/node_modules/**/*
# macOS
.DS_Store
